<% provide(:title, "Próximos grandes campeonatos") %>

<h1>Próximos grandes campeonatos</h1>
<% names = { french: "Campeonato de Francia", euro: "Campeonato de Europa", world: "Campeonato del Mundo" } %>

<div class="alert alert-info my-3">
  <p>
    Este formulario controla la información que se muestra en la página de inicio sobre los próximos grandes campeonatos.
    Si se especifica el ID de la competición, la información mostrada sobre el mismo será la de la web de la WCA. De lo contrario, se mostrarán el nombre y el texto alternativos.
  </p>
  <p>
    <b>¡Para gestionar competiciones y eventos en preparación, diríjase al <%= link_to("calendario", competitions_path) %>!</b>
  </p>
</div>
<%= simple_form_for :big_champs, url: update_champs_path, wrapper: :horizontal_form do |f| %>
  <% @champs.each do |champ| %>
    <h3 class="my-3"><%= names[champ.role.to_sym] %></h3>
    <%= f.simple_fields_for champ.role, champ do |fr| %>
      <%= fr.input :competition_id %>
      <%= fr.input :name %>
      <%= fr.input :alt_text, as: :text %>
    <% end %>
  <% end %>
  <%= f.button :submit %>
<% end %>
