<% provide(:title, "Mis competiciones") %>

<h1>Mis competiciones</h1>
<div class="alert alert-info">
  Esta página sirve para facilitar la verificación de los registros de competidores de la AMS a competiciones oficiales.
  Selecciona una competición para ver qué competidores tienen descuento por ser socios de la AMS.
</div>

<% if @error %>
  <div class="alert alert-danger">
    Ha ocurrido un error: <%= @error %>
  </div>
<% elsif @my_competitions.any? %>
  <div class="list-group">
    <% @my_competitions.each do |comp| %>
      <a href="<%= competition_registrations_path(comp["id"]) %>" class="list-group-item list-group-item-action flex-column align-items-start list-group-item-<%= comp["announced_at"] ? "success" : "danger" %>">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1"><%= comp["name"] %></h5>
          <small><%= flag_icon(comp["country_iso2"]) %></small>
        </div>
        <p class="mb-1">
          <%= "Del #{l(Date.parse(comp["start_date"]))} al #{l(Date.parse(comp["end_date"]))} en #{comp["city"]} (#{Country.find_by_iso2(comp["country_iso2"]).name})" %>
        </p>
        <small><%= comp["announced_at"] ? "Competición anunciada el #{l(Time.parse(comp["announced_at"]))}" : "Esta competición aún no está anunciada." %></small>
      </a>
    <% end %>
  </div>
<% else %>
  No tienes competiciones próximas como Delegado WCA y/o organizador.
<% end %>
