<%= javascript_pack_tag 'competitions', 'data-turbolinks-track': 'reload' %>
<% if @error %>
  <div class="alert alert-danger">
    Ha ocurrido un error: <%= @error %>
  </div>
<% else %>
  <% status = { pending: "A la espera", accepted: "Aceptados", deleted: "Eliminados" } %>
  <h1>Inscripciones para <%= @competition["name"] %></h1>
  <a href="#" class="activate-or-stop-check" style="display: block;">
    Comprueba todos los nuevos competidores potenciales
  </a>
  <a href="#" class="activate-or-stop-check" style="display: none;">
    Parar la verificación
  </a>

  <% status.keys.each do |s| %>
    <h2><%= status[s] %></h2>
    <% if @persons[s].any? %>
      <%= render "shared/compact_table", headers: ["Nombre completo", "WCA ID", "Estatus", ""] do %>
        <% @persons[s].each do |p| %>
          <% tr_class, membership = class_and_status_from_person(@subscribers_by_id, @subscribers_by_name, p) %>
          <tr id="registration-<%= p["registration"]["wcaRegistrationId"] %>" class="table-<%= tr_class %>">
            <td class="person-name"><%= p["name"] %></td>
            <td><%= p["wcaId"] %></td>
            <td class="membership-status"><%= membership %></td>
            <td><%= link_to fa_icon("pencil"), wca_registration_url(p["registration"]["wcaRegistrationId"]), target: "_blank" %></td>
          </tr>
        <% end %>
      <% end %>
    <% else %>
      Sin registros <%= status[s].downcase %>.
    <% end %>
  <% end %>
  <% puts @persons.keys %>
<% end %>
