Hola <%= @user.name %>,

<p>
  Antes de nada queríamos, desde la Junta Directiva, darte la bienvenida a la Asociación Madrileña de Speedcubing, una asociación surgida por el amor al speedcubing, que es lo que nos une, y las ganas de reunir a toda la comunidad madrileña de una manera factible.
</p>

<p>
  Como ya sabrás, tenemos una <%= link_to "página web", root_url %> donde encontrarás infinidad de información: ya sea sobre la asociación en si, próximos campeonatos o tutoriales bastante útiles y completos para competidores, jueces e incluso organizadores. Además, nos puedes encontrar en <%= link_to "Instagram", "https://www.instagram.com/amspeedcubing/" %>, <%= link_to "Twitter", "https://twitter.com/AMSpeedcubing/" %> y <%= link_to "Facebook", "https://www.facebook.com/AMSpeedcubing/" %>, donde serás informado de todo movimiento que realice la AMS.
</p>

<p>
  En esta asociación queremos ser lo más transparente posible con vosotros, así como tener un máximo compromiso. Es por ello que seréis informados sobre las inversiones que se hacen gracias a todas las aportaciones que tengamos, como por ejemplo la compra de material para futuras competiciones, talleres, etc. Buscamos ser cercanos a nuestros socios y a la comunidad en general, por lo que pertenecer a esta asociación tiene una gran cantidad de beneficios que atañen a dicha cercanía: como las quedadas mensuales, las comidas en fechas señaladas y los talleres ya mencionados anteriormente (poco a poco seréis informados de más).
</p>

<p>
  Para mantener una buena comunicación (y relación) entre los socios de la AMS, tenemos un grupo de Telegram disponible únicamente para vosotros. Para unirte, simplemente debes pinchar en <%= link_to "este enlace", ENV['TELEGRAM_GROUP_URL'] %>. Por favor, no hagas el enlace público, pues el grupo es exclusivo para socios. El grupo tiene unas simples normas para para regir su buen funcionamiento, que encontrarás en el mensaje anclado. También encontrarás en el mensaje anclado un enlace a otro grupo exclusivo para socios pero, a diferencia del primero, este segundo no tiene ninguna norma.
</p>

<p>
  Te invitamos a participar en todas las actividades que realicemos, puesto que ese es el principal cometido de nuestro trabajo. Esperamos que este sea el principio de una larga relación juntos.
</p>

<p>
  Por último, decirte que para dejar de recibir notificaciones como ésta, desmarca la casilla en <%= link_to "tu perfil", profile_url %> (donde también puedes ver la lista de tus cuotas de socio anuales pagadas).
</p>

Atentamente,
<br />
Asociación Madrileña de Speedcubing
