<% provide(:title, "Mi perfil") %>
<% is_admin = current_user.admin? %>
<h1><%= @user.name %> - <%= @user.country_name %> <%= flag_icon(@user.country_iso2) %></h1>
<% last_sub = @user.last_subscription %>
<% if last_sub&.active? %>
  <div class="alert alert-success">
    Eres socio de la AMS hasta el <%= l(last_sub.until) %>.
  </div>
<% elsif last_sub %>
  <div class="alert alert-warning">
    No eres socio de la AMS desde el <%= l(last_sub.until) %>.
  </div>
<% else %>
  <div class="alert alert-danger">
    No eres socio de la AMS.
  </div>
<% end %>
<%= simple_form_for @user, wrapper: :horizontal_form, html: { class: "mb-4 user-edit-form" } do |f| %>
  <%= f.input :friendly_delegate_status, as: :display, label: false %>

  <%= f.error_notification message: "El formulario no es válido. Por favor, corrige los errores a continuación." %>

  <%= f.input :wca_id, as: :display %>
  <%= f.input :friendly_birthdate, as: :display %>
  <%= f.input :admin, disabled: !is_admin %>
  <%= f.input :communication, disabled: !is_admin %>
  <%= f.input :spanish_delegate, disabled: !is_admin %>
  <%= f.input :notify_subscription %>
  <% if current_user&.can_edit_user?(@user) %>
    <%= f.button :submit %>
  <% end %>
<% end %>

<h2>Cuotas</h2>
<div class="alert alert-info">
  Las contribuciones se importan manualmente y periódicamente por los miembros de la Junta Directiva.
  <br/>
  Si crees que la información a continuación es incorrecta, escribe un correo a <%= mail_to "bureau@speedcubingfrance.org" %>.
</div>
<% if @user.subscriptions.empty? %>
  <div class="alert alert-warning">
    <p>
      No tienes contribuciones registradas.
      ¡Puedes contribuir en <%= link_to "HelloAsso", "https://www.helloasso.com/associations/association-francaise-de-speedcubing", target: "_blank" %> para hacerte socio!.
    </p>
  </div>
<% else %>
  <table class="table table-bordered table-hover">
    <tbody>
      <% @user.subscriptions.reverse_each do |s| %>
        <% tr_class = s.over? ? "warning" : "success" %>
        <tr class="table-<%= tr_class %>">
          <td>
            Pagada el <%= l(s.payed_at.to_date) %>, esta cuota
            <% if s.over? %>
              ya no está activa.
            <% else %>
              sigue activa.
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
