<% provide(:title, "Importar un usuario") %>
<h2>Importar un usuario</h2>

<div class="alert alert-info">
  Usa el campo "Buscar" para importar un usuario de la página de la WCA.
  <br/>
  Si sólo coincide un resultado, se importará al usuario; si varios usuarios coinciden con la consulta, se mostrarán.
  <br/>
  Puedes hacer clic en uno de los usuarios de la búsqueda para importarlo.
</div>

<%= simple_form_for :import_user, url: users_import_path do |f| %>
  <%= f.input :query %>
  <%= f.button :submit %>
<% end %>

<% if @matches.any? %>
  <div class="list-group mt-4">
    <% @matches.each do |user| %>
      <%= link_to users_import_path(import_user: { id: user["id"] }), method: :post, class: "list-group-item list-group-item-action" do %>
        <%= user["name"] %> <%= user["wca_id"] ? "(#{user["wca_id"]})" : "" %> <%= user["country_iso2"] ? flag_icon(user["country_iso2"]) : "" %>
      <% end %>
    <% end %>
  </div>
<% end %>
