<% event ||= CalendarEvent.new %>
<%
  title = if event.new_record?
            "Crear un evento"
          else
            "Actualizar #{event.name}"
          end
%>
<div class="modal" id="modal_event" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title"><%= title %></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Fermer">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <%= simple_form_for(event, remote: true, format: "js") do |f| %>
          <div class="form-inputs">
            <%= f.input :name %>
            <%= f.input :start_time, as: :hidden %>
            <%= f.input :end_time, as: :hidden %>
            Du <%= l(event.start_time, format: :short) %> au <%= l(event.last_day, format: :short) %>.
            <%= f.input :kind, collection: CalendarEvent::KINDS, label_method: :second, value_method: :first %>
            <%= f.input :public %>
          </div>

          <div class="modal-footer">
            <% unless event.new_record? %>
                <%= link_to fa_icon("trash"),
                  @calendar_event,
                  method: :delete,
                  class: 'btn btn-danger mr-auto',
                  data: { confirm: '¿Estás seguro?' },
                  remote: true,
                  format: "js" %>
            <% end %>
            <%= f.button :submit %>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
