<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @calendar_event.name %>
</p>

<p>
  <strong>Public:</strong>
  <%= @calendar_event.public %>
</p>

<p>
  <strong>Start time:</strong>
  <%= @calendar_event.start_time %>
</p>

<p>
  <strong>End time:</strong>
  <%= @calendar_event.end_time %>
</p>

<p>
  <strong>Kind:</strong>
  <%= @calendar_event.kind %>
</p>

<%= link_to 'Edit', edit_calendar_event_path(@calendar_event) %> |
<%= link_to 'Back', calendar_events_path %>
