<% provide(:title, "Reglamento WCA") %>
<% provide(:active_section, "speedcubing") %>
<%= render "layouts/page_wrapper", title: "Reglamento WCA" do %>

  <p>
    Las competiciones oficiales son reconocidas por la World Cube Association (WCA).
    El <%= link_to "Reglamento WCA", "https://www.worldcubeassociation.org/regulations/", target: "_blank" %> contiene todas las reglas que se aplican en todas las competiciones oficiales.
    El Reglamento WCA se complementa con las <%= link_to "Directrices WCA", "https://www.worldcubeassociation.org/regulations/guidelines.html", target: "_blank" %>. El Reglamento WCA debe considerarse como un documento completo, pero las Directrices WCA contienen información y explicaciones adicionales de gran utilidad.
  </p>
<!--
  <p>
    La versión oficial del Reglamento está en inglés, pero existe una traducción al español <%= link_to "aquí", "https://www.worldcubeassociation.org/regulations/translations/spanish-european/", target: "_blank" %>. Se proporciona esta versión a título informativo, pero en caso de diferencia, la versión que prevalece es la inglesa.
  </p>
  <p>
    El Reglamento WCA es muy preciso y es importante conocerlo, pero si eres nuevo y simplemente quieres saber cómo funcionan las competiciones, los <%= link_to "tutoriales", page_path("speedcubing/tutos") %> responderán tus preguntas.
  </p>
-->
<% end %>
