<h1>Bags</h1>

<%= link_to "Gérer le matos", hardwares_path %>

<% @bags.each do |bag| %>
  <h3><%= bag.name %></h3>
  Il y a dedans :
  <% if bag.hardwares.any? %>
    <ul>
      <% bag.hardwares.each do |h| %>
        <li><%= "#{h.name} (#{h.hardware_type_string})" %></li>
      <% end %>
    </ul>
  <% else %>
    rien pour l'instant.
  <% end %>

  <br/>

  <%= link_to 'Show', bag %> |
  <%= link_to 'Edit', edit_bag_path(bag) %> |
  <%= link_to 'Destroy', bag, method: :delete, data: { confirm: 'Are you sure?' } %>
  <hr/>
<% end %>

<%= link_to 'New Bag', new_bag_path %>
