<% provide(:title, "Bolsas") %>

<h1>Bolsas</h1>

<%= link_to "Manejar el material", hardwares_path %>
<hr>

<% @bags.each do |bag| %>
  <div class="bag">
    <h3><%= bag.name %></h3>
    Il y a dedans :
    <% if bag.hardwares.any? %>
      <ul>
        <% bag.hardwares.each do |h| %>
          <li><%= link_to "#{h.name} (#{h.hardware_type_string})", h, title: 'Ver' %></li>
          <ul>
            <li><%= "#{h.state_string}"  %></li>
            <% if h.comment? %>
              <li><%= "Comentario: #{h.comment}" %></li>
            <% else %>
              <li>Sin comentarios</li>
            <% end %>
          </ul>
        <% end %>
      </ul>
    <% else %>
      nada por ahora.
    <% end %>

    <%= render "shared/show_owners_list", item: bag %>
    <br/>

    <%= link_to fa_icon('eye'), bag, title: 'Ver', class: 'text-info', data: { toggle: 'tooltip' } %>
    |
    <%= link_to fa_icon('pencil-square-o'), edit_bag_path(bag), title: 'Editar', class: 'text-primary', data: { toggle: 'tooltip' } %>
    |
    <%= link_to fa_icon('trash-o'), bag, method: :delete, title: 'Borrar', class: 'text-danger', data: { toggle: 'tooltip', confirm: '¿Estás seguro?' } %>
    <hr/>
  </div>
<% end %>

<%= link_to 'Nueva bolsa', new_bag_path %>
