<% provide(:title, "Sacs") %>

<h1>Sacs</h1>

<%= link_to "Gérer le matériel", hardwares_path %>
<hr>

<% @bags.each do |bag| %>
  <div class="bag">
    <h3><%= bag.name %></h3>
    Il y a dedans :
    <% if bag.hardwares.any? %>
      <ul>
        <% bag.hardwares.each do |h| %>
          <li><%= link_to "#{h.name} (#{h.hardware_type_string})", h, title: 'Voir' %></li>
          <ul>
            <li><%= "#{h.state_string}"  %></li>
            <% if h.comment? %>
              <li><%= "Commentaire : #{h.comment}" %></li>
            <% else %>
              <li>Pas de commentaire</li>
            <% end %>
          </ul>
        <% end %>
      </ul>
    <% else %>
      rien pour l'instant.
    <% end %>

    <%= render "shared/show_owners_list", item: bag %>
    <br/>

    <%= link_to raw('<i class="fa fa-eye alert-info"></i> Voir'), bag, title: 'Voir' %>
    |
    <%= link_to raw('<i class="fa fa-pencil-square-o"></i> Éditer'), edit_bag_path(bag), title: 'Éditer' %>
    |
    <%= link_to raw('<i class="fa fa-trash-o alert-danger"></i> Détruire'), bag, method: :delete, data: { confirm: 'Êtes-vous sûr·e ?' }, title: 'Détruire' %>
    <hr/>
  </div>
<% end %>

<%= link_to 'Nouveau sac', new_bag_path %>
