<% provide(:title, "Infos sur le sac " + @bag.name) %>

<p>
  <strong>Nom :</strong>
  <%= @bag.name %>
</p>
<% if @bag.hardwares.any? %>
  <ul>
    <% @bag.hardwares.each do |h| %>
      <li><%= link_to "#{h.name} (#{h.hardware_type_string})", h, title: 'Voir' %></li>
      <ul>
        <li><%= "#{h.state_string}"  %></li>
        <% if h.comment? %>
          <li><%= "Commentaire : #{h.comment}" %></li>
        <% else %>
          <li>Pas de commentaire</li>
        <% end %>
      </ul>
    <% end %>
  </ul>
<% end %>

<%= render "shared/show_owners_list", item: @bag %>

<%= link_to 'Éditer', edit_bag_path(@bag) %> |
<%= link_to 'Retour', bags_path %>
