<% provide(:title, "Información de la bolsa " + @bag.name) %>

<p>
  <strong>Nombre:</strong>
  <%= @bag.name %>
</p>
<% if @bag.hardwares.any? %>
  <ul>
    <% @bag.hardwares.each do |h| %>
      <li><%= link_to "#{h.name} (#{h.hardware_type_string})", h, title: 'Ver' %></li>
      <ul>
        <li><%= "#{h.state_string}"  %></li>
        <% if h.comment? %>
          <li><%= "Comentario: #{h.comment}" %></li>
        <% else %>
          <li>Sin comentarios</li>
        <% end %>
      </ul>
    <% end %>
  </ul>
<% end %>

<%= render "shared/show_owners_list", item: @bag %>

<%= link_to 'Editar', edit_bag_path(@bag) %> |
<%= link_to 'Volver', bags_path %>
