<% provide(:title, "Otras asociaciones") %>
<% provide(:active_section, "association") %>
<%= render "layouts/page_wrapper", title: "Otras asociaciones" do %>
  <div class="container">

    <h3 id="wca">Mundial</h3>

    <div class="associations-list">
      <div class="association-box">
        <%= link_to wca_base_url, target: "_blank", class: "hide-new-window-icon" do %>
          <%= image_tag "/associations/WCA.png" %>
          <div class="association-info hide-until-hover">
            <div class="acronym">
              <%= "WCA" %>
            </div>
            <div class="name">
              <%= "World Cube Association" %>
            </div>
          </div>
        <% end %>
      </div>
    </div>

    <h3 id="spanish">Españolas</h3>

    <% associations_info = [
      {
        acronym: "AES",
        name: "Asociación Española de Speedcubing",
        url: "https://www.speedcubingspain.org",
        logo: "AES.png",
      },
      {
        acronym: "Euskal Cubing",
        name: "Asociación Vasco-Navarra de Speedcubing",
        url: "https://euskalcubing.org/",
        logo: "EC.png",
      },
      {
        acronym: "ACSC",
        name: "Associació Catalana de Speedcubing",
        url: "https://www.instagram.com/speedcubing.cat/",
        logo: "ACSC.png",
      },
      {
        acronym: "ACR UPM",
        name: "Asociación del Cubo de Rubik de la UPM",
        url: "https://www.etsidi.upm.es/Estudiantes/AsociacionesEstudiantes/Asociaci%C3%B3n%20del%20Cubo%20de%20Rubik",
        logo: "UPM.png",
      },
      {
        acronym: "Speedcubing Almeria",
        name: "Asociación Almeriense de SpeedcubingM",
        url: "https://www.speedcubingalmeria.org/",
        logo: "AAS.png",
      }
    ] %>

    <div class="associations-list">
      <% associations_info.each do |association_info| %>
        <div class="association-box">
          <%= link_to association_info[:url], target: "_blank", class: "hide-new-window-icon" do %>
            <% if association_info[:logo] %>
              <%= image_tag "/associations/#{association_info[:logo]}" %>
            <% end %>
            <div class="association-info <% if association_info[:logo] %>hide-until-hover<% end %>">
              <div class="acronym">
                <%= association_info[:acronym] %>
              </div>
              <div class="name">
                <%= association_info[:name] %>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
<% end %>
