<% provide(:active_section, "speedcubing") %>
<%= render "layouts/page_wrapper", title: "Règlement WCA" do %>

  <p>
    Les compétitions officielles sont reconnues par la World Cube Association (WCA).
    Le <%= link_to "Règlement WCA", "https://www.worldcubeassociation.org/regulations/", target: "_blank" %> contient l'ensemble des règles qui s'appliquent lors de toutes ces compétitions officielles.
    Le Règlement WCA est également complémenté par les <%= link_to "Recommandations WCA", "https://www.worldcubeassociation.org/regulations/guidelines.html", target: "_blank" %>. Le Règlement devrait être considéré comme un document complet, mais les Recommandations contiennent des informations et explications additionnelles.
  </p>
  <p>
    La version officielle du Règlement est en Anglais, mais une traduction en Français existe <%= link_to "ici", "https://www.worldcubeassociation.org/regulations/translations/french/", target: "_blank" %>. Elle est fournie à titre informatif, en cas de différence seule la version Anglaise fait foi.
  </p>
  <p>
    Le Règlement est très précis et c'est important de le connaître, mais si vous êtes débutant et vous demandez simplement comment se déroulent les compétitions, alors les <%= link_to "tutoriels", page_path("speedcubing/tutos") %> sauront sûrement mieux répondre à vos questions.
  </p>
<% end %>
