<% provide(:title, "Socios") %>
<%= render "nav", current_page: :subscribers %>

<p>
  <%= @subscribers.size %> socios a <%= l(Date.today) %>.
</p>
<div class="table-responsive">
  <% headers = ["Nombre completo", "WCA ID", "Socio hasta"] %>
  <%= render "shared/compact_table", headers: headers do %>
    <% @subscribers.each do |s| %>
      <tr>
        <td>
          <%=
            if s.user
              link_to(s.user.name, edit_user_path(s.user))
            else
              "#{s.firstname} #{s.name}"
            end
          %>
        </td>
        <td>
          <%= link_to_wca_profile(s.wca_id) %>
        </td>
        <td data-text="<%= s.until %>"><%= l(s.until) %></td>
      </tr>
    <% end %>
  <% end %>
  <% if @subscribers.empty? %>
    <div class="alert alert-info">
      Sin socios, intenta importar socios de HelloAsso.
    </div>
  <% end %>
</div>
