<% provide(:title, "Liga AMS") %>
<% provide(:active_section, "members") %>
<%= render "shared/nav_league", current_page: :classification, title: "Liga AMS" do %>
  <h3 id="edición-2019">Edición 2019</h3>
  <p>Los campeonatos que contabilizan para la edición de 2019 de la Liga AMS son:
    <ul>
      <li>Primera jornada: <%= link_to "Getafe Vuelve 2019", Competition.find("GetafeVuelve2019").website, target: "_blank" %>, <%= link_to "Crónica y clasificación", news_path(Post.find(8)), target: "_blank" %></li>
      <li>Segunda jornada: <%= link_to "FMC Europe 2019", wca_competition_url("FMCEurope2019"), target: "_blank" %>, <%= link_to "Crónica y clasificación", news_path(Post.find(10)), target: "_blank" %></li>
      <li>Tercera jornada: <%= link_to "Cervantes Cubea 2019", Competition.find("CervantesCubea2019").website, target: "_blank" %>, <%= link_to "Crónica y clasificación", news_path(Post.find(11)), target: "_blank" %></li>
      <li>Cuarta jornada: <%= link_to "UCM Open 2019", Competition.find("UCMOpen2019").website, target: "_blank" %>, <%= link_to "Crónica y clasificación", news_path(Post.find(13)), target: "_blank" %></li>
      <li>Quinta jornada: <%= link_to "FMC 2019", wca_competition_url("FMC2019"), target: "_blank" %>, <%= link_to "Crónica y clasificación", news_path(Post.find(15)), target: "_blank" %></li>
      <li>Sexta jornada: <%= link_to "Parla Open 2019", Competition.find("ParlaOpen2019").website, target: "_blank" %>, <%= link_to "Crónica y clasificación", news_path(Post.find(16)), target: "_blank" %></li>
      <li>Séptima jornada: <%= link_to "UPM Open 2019", Competition.find("UPMOpen2019").website, target: "_blank" %></li>
      <li>Octava jornada: <%= link_to "Villanueva Open 2019", Competition.find("VillanuevaOpen2019").website, target: "_blank" %></li>

      <li>Próximamente se anunciarán más competiciones</li>
    </ul>
  </p>

  <p>La clasificación general, después de la sexta jornada, es:</p>

  <div id="general-classification-table" class="table table-responsive">
    <% headers = ["Posición", "Nombre", "Puntos"] %>
    <%= render "shared/compact_table", headers: headers do %>
      <% @classification_2019.each do |c| %>
        <tr>
          <td><%= c[:position] %></td>
          <td><%= link_to c[:name], wca_profile_url(c[:wca_id]), target: "_blank" %></td>
          <td><%= c[:points] %></td>
        </tr>
      <% end %>
    <% end %>
  </div>
<% end %>
