<% provide(:title, "Cambios a realizar") %>
<%= render "nav", current_page: :subscriptions %>

<h1>Cambios a realizar</h1>

<p>
Se han detectado las siguientes contribuciones, por favor léelas de nuevo antes de enviar el formulario para asegurarte de que todo está correcto.
</p>



<div class="table-responsive">
  <% headers = ["Nombre", "Apellido", "WCA ID", "Email", "Pagado el", "Enlace del recibo"] %>
  <% if @new_subscriptions.any? %>
    <%= simple_form_for :subscriptions, url: subscriptions_import_path do |f| %>
      <%= render "shared/compact_table", headers: headers  do %>
        <% @new_subscriptions.each_with_index do |subscription, i| %>
          <%= f.simple_fields_for subscription do |fa| %>
            <%# Specifying the name for each subscription is dirty but I couldn't find better %>
            <tr>
              <td><%= fa.input :firstname, as: :display, label: false, input_html: { name: "subscriptions[][firstname]" } %></td>
              <td><%= fa.input :name, as: :display, label: false, input_html: { name: "subscriptions[][name]" } %></td>
              <td><%= fa.input :wca_id, as: :display, label: false, input_html: { name: "subscriptions[][wca_id]" } %></td>
              <td data-toggle="tooltip" data-placement="top" title="<%= subscription.email %>"><%= fa.input :email, as: :display, label: false, input_html: { name: "subscriptions[][email]" } %></td>
              <td><%= fa.input :payed_at, as: :display, label: false, input_html: { name: "subscriptions[][payed_at]" } %></td>
              <td data-toggle="tooltip" data-placement="top" title="<%= subscription.receipt_url %>"><%= fa.input :receipt_url, as: :display, label: false, input_html: { name: "subscriptions[][receipt_url]" } %></td>
            </tr>
          <% end %>
        <% end %>
      <% end %>

      <%= f.submit "Importar estas contribuciones", class: "btn btn-primary" %>
    <% end %>
  <% else %>
    <div class="alert alert-info">
      No hay contribuciones a importar.
    </div>
  <% end %>

  <% if @subscriptions.any? %>
    <p>
    Las contribuciones a continuación ya están presentes en la base de datos y serán ignoradas.
    </p>
    <%= render "shared/compact_table", headers: ["Nombre", "Apellido", "WCA ID", "Email", "Pagado el", "", ""] do %>
      <% @subscriptions.each do |subscription| %>
        <tr class="table-info">
          <td><%= subscription.firstname %></td>
          <td><%= subscription.name %></td>
          <td><%= subscription.wca_id %></td>
          <td><%= subscription.email %></td>
          <td><%= subscription.payed_at %></td>
          <td><%= subscription.receipt_url %></td>
        </tr>
      <% end %>
    <% end %>
  <% end %>
</div>
<script>
$(".custom-file-input").change(function (e) {
  $(".custom-file-label").text(e.target.value.replace("C:\\fakepath\\", ""));
});
</script>
