<% provide(:title, "Lista de socios") %>
<% provide(:active_section, "members") %>
<%= render "layouts/page_wrapper", title: "Lista de socios" do %>
  <p>
    <%= @subscribers.size %> socios a <%= l(Date.today) %>.
  </p>

  <div class="table-responsive">
    <% headers = ["Nombre completo", "WCA ID", "Socio hasta el"] %>
    <%= render "shared/compact_table", headers: headers do %>
      <% @subscribers.each do |s| %>
        <tr>
          <td>
            <%= s.user.name %>
          </td>
          <td>
            <%= link_to_wca_profile(s.wca_id) %>
          </td>
          <td data-text="<%= s.until %>"><%= l(s.until) %></td>
        </tr>
      <% end %>
    <% end %>
    <% if @subscribers.empty? %>
      <div class="alert alert-info">
        No hay ningún socio.
      </div>
    <% end %>
  </div>
<% end %>
