<%= simple_form_for(@post) do |f| %>
  <%= f.error_notification message: "Le formulaire est invalide. Merci de corriger les erreurs ci dessous." %>

  <div class="form-inputs">
    <%= f.input :title %>
    <%= f.input :body %>
    <%= f.input :slug %>
    <%= f.input :draft %>
    <%= f.input :feature %>
    <%= f.input :competition_page %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
<%= javascript_pack_tag "simple_mde", 'data-turbolinks-track': 'reload'  %>
<script>
  // By default SimpleMDE loads itself on the first textarea, which is what we want.
  new SimpleMDE({ spellChecker: false });
</script>
