<%= simple_form_for(@post, url: @post.new_record? ? news_index_path : news_path(@post)) do |f| %>
  <%= f.error_notification message: "Le formulaire est invalide. Merci de corriger les erreurs ci dessous." %>

  <div class="form-inputs">
    <%= f.input :title, input_html: { class: "compute-slug" } %>
    <%= f.input :body, input_html: { class: "enable-simplemde" } %>
    <%= f.input :slug, input_html: { class: "slug" } %>
    <%= f.input :draft %>
    <%= f.input :feature %>
    <%= f.input :competition_page %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
<%= javascript_pack_tag "simple_mde", 'data-turbolinks-track': 'reload'  %>
<script>
$(function() {
  $(".compute-slug").each(function() {
    $(this).change(function() {
      let slugInput = $("#post_slug");
      if (!slugInput.hasClass("manually-changed")) {
        slugInput.val(window.afs.computeSlug($(this).val()));
      }
    });
    $(this).removeClass("compute-slug");
  });
  $(".slug").each(function() {
    $(this).change(function() {
      $(this).addClass("manually-changed");
    });
    $(this).removeClass("slug");
  });
});
</script>
