<%= simple_form_for(@post, url: @post.new_record? ? news_index_path : news_path(@post)) do |f| %>
  <%= f.error_notification message: "El formulario no es válido. Por favor, corrige los errores detallados a continuación." %>

  <div class="form-inputs">
    <%= f.input :title, input_html: { class: "compute-slug" } %>
    <%= f.input :tags_string, input_html: { class: "enable-selectize" } %>
    <%= f.input :body, input_html: { class: "enable-simplemde" } %>
    <%= f.input :slug, input_html: { class: slug_classes(@post) } %>
    <%= f.input :posted_at, as: :date_picker %>
    <%= f.input :draft %>
    <%= f.input :feature %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
<% content_for :additional_scripts do %>
  <%= javascript_pack_tag "simple_mde", 'data-turbolinks-track': 'reload'  %>
  <%= javascript_pack_tag "selectize", 'data-turbolinks-track': 'reload'  %>
<% end %>
<script>
$(function() {
  $(".compute-slug").each(function() {
    $(this).change(function() {
      let slugInput = $("#post_slug");
      if (!slugInput.hasClass("manually-changed")) {
        slugInput.val(window.ams.computeSlug($(this).val()));
      }
    });
    $(this).removeClass("compute-slug");
  });
  $(".slug").each(function() {
    $(this).change(function() {
      $(this).addClass("manually-changed");
    });
    $(this).removeClass("slug");
  });
  window.ams.enableSelectize(<%= post_tags_to_options %>);
  window.ams.enableSimpleMDE();
});
</script>
