<% provide(:title, "Lista de publicaciones y páginas de competiciones") %>
<h1>Lista de publicaciones y páginas de competiciones</h1>

<%= link_to "Modificar las etiquetas", tags_path, class: "d-block my-2" %>

<%= link_to fa_icon("plus-circle"), new_news_path, class: "btn btn-success mb-4" %>

<div class="list-group">
  <% @posts.each do |post| %>
    <div class="list-group-item flex-column align-items-start list-group-item-<%= contextual_class(post) %>">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">
          <%= link_to(post.title, edit_news_path(post), class: "text-#{contextual_class(post)} mr-2") %>
          <% post.tags.each do |tag| %>
            <%= render("shared/tag", tag: tag) %>
          <% end %>
        </h5>
        <small>Le <%= l(post.created_at) %> par <%= post.user.name %></small>
      </div>
      <div class="d-flex w-100 justify-content-between">
        <small><%= legend(post) %></small>
        <div>
          <%= link_to(fa_icon("eye"), view_post_path(post), class: "btn btn-sm btn-info") %>
          <%= link_to(fa_icon("pencil"), edit_news_path(post), class: "btn btn-sm btn-primary") %>
          <%= link_to(fa_icon("trash"), news_path(post), method: :delete, data: { confirm: '¿Estás seguro?' }, class: "btn btn-sm btn-danger") %>
        </div>
      </div>
    </div>
  <% end %>
</div>
