<% provide(:title, @post.title) %>
<% if @post.draft %>
  <div class="alert alert-warning">
    Esta publicación es un borrador.
  </div>
<% end %>
<div class="card ams-post">
  <div class="card-body">
    <h2><%= @post.title %></h2>
    <h5 class="card-subtitle mt-2 mb-1 text-muted">
      Publicado el <%= l(@post.posted_at, format: :post_datetime) %> por <%= link_to_wca_profile(@post.user.wca_id, false, @post.user.name) %>.
    </h5>
    <div class="mb-4">
      <% @post.tags.each do |tag| %>
        <%= render("shared/tag", tag: tag) %>
      <% end %>
    </div>
    <div class="card-text mb-4">
      <%= md @post.body_full %>
    </div>

    <%= link_to "Permalink", news_slug_path(@post.slug), class: "mr-2" %>
    <% if current_user&.can_manage_communication_matters? %>
      <%= link_to(fa_icon("pencil"), edit_news_path(@post), class: "btn btn-sm btn-primary") %>
      <%= link_to(fa_icon("trash"), news_path(@post), method: :delete, data: { confirm: '¿Estás seguro?' }, class: "btn btn-sm btn-danger") %>
    <% end %>
  </div>
</div>
