<% provide(:title, "Material") %>
<h1>Material</h1>

<%= link_to "Manejar las bolsas", bags_path %>

<table id="hardware-index-table" class="table table-striped">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Tipo</th>
      <th>Estado</th>
      <th>Comentario</th>
      <th>En casa de quien</th>
      <th>Bolsa</th>
      <th colspan="3">Acciones</th>
    </tr>
  </thead>

  <tbody>
    <% @hardwares.each do |hardware| %>
      <tr>
        <td><%= hardware.name %></td>
        <td><%= hardware.hardware_type_string %></td>
	<td class="state-<%= hardware.state %>">
          <div title="<%= hardware.state_string %>" data-toggle="tooltip">
            <%= fa_icon('circle') %>
            <span class="d-none"><%= hardware.state_string %></span>
          </div>
        </td>
        <td><%= hardware.comment %></td>
        <td><%= hardware.real_owner&.name %></td>
        <td><%= hardware.bag&.name %></td>
        <td><%= link_to fa_icon('eye'), hardware, title: 'Ver', class: 'text-info', data: { toggle: 'tooltip' } %></td>
        <td><%= link_to fa_icon('pencil-square-o'), edit_hardware_path(hardware), title: 'Editar', class: 'text-primary', data: { toggle: 'tooltip' } %></td>
        <td><%= link_to fa_icon('trash-o'), hardware, method: :delete, title: 'Borrar', class: 'text-danger', data: { toggle: 'tooltip', confirm: '¿Estás seguro?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Añadir nuevo material', new_hardware_path %>
