<% provide(:title, "Matériel") %>
<h1>Matériel</h1>

<%= link_to "Gérer les sacs", bags_path %>

<table id="hardware-index-table" class="table table-striped">
  <thead>
    <tr>
      <th>Nom</th>
      <th>Type</th>
      <th>État</th>
      <th>Commentaire</th>
      <th>Chez qui</th>
      <th>Sac</th>
      <th colspan="3">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @hardwares.each do |hardware| %>
      <tr>
        <td><%= hardware.name %></td>
        <td><%= hardware.hardware_type_string %></td>
        <td><i class="fa fa-circle state-<%= hardware.state %>" aria-hidden="true"></i></td>
        <td><%= hardware.comment %></td>
        <td><%= hardware.real_owner&.name %></td>
        <td><%= hardware.bag&.name %></td>
        <td><%= link_to raw('<i class="fa fa-eye alert-info"></i>'), hardware, title: 'Voir' %></td>
        <td><%= link_to raw('<i class="fa fa-pencil-square-o"></i>'), edit_hardware_path(hardware), title: 'Éditer' %></td>
	<td><%= link_to raw('<i class="fa fa-trash-o alert-danger"></i>'), hardware, method: :delete, data: { confirm: 'Êtes-vous sûr·e ?' }, title: 'Détruire' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Ajouter du nouveau matériel', new_hardware_path %>
