<% provide(:title, "Matériel") %>
<h1>Matériel</h1>

<%= link_to "Gérer les sacs", bags_path %>

<table id="hardware-index-table" class="table table-striped">
  <thead>
    <tr>
      <th>Nom</th>
      <th>Type</th>
      <th>État</th>
      <th>Commentaire</th>
      <th>Chez qui</th>
      <th>Sac</th>
      <th colspan="3">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @hardwares.each do |hardware| %>
      <tr>
        <td><%= hardware.name %></td>
        <td><%= hardware.hardware_type_string %></td>
	<td class="state-<%= hardware.state %>">
          <div title="<%= hardware.state_string %>" data-toggle="tooltip">
            <%= fa_icon('circle') %>
            <span class="d-none"><%= hardware.state_string %></span>
          </div>
        </td>
        <td><%= hardware.comment %></td>
        <td><%= hardware.real_owner&.name %></td>
        <td><%= hardware.bag&.name %></td>
        <td><%= link_to fa_icon('eye'), hardware, title: 'Voir', class: 'text-info', data: { toggle: 'tooltip' } %></td>
        <td><%= link_to fa_icon('pencil-square-o'), edit_hardware_path(hardware), title: 'Éditer', class: 'text-primary', data: { toggle: 'tooltip' } %></td>
        <td><%= link_to fa_icon('trash-o'), hardware, method: :delete, data: { confirm: 'Êtes-vous sûr·e ?' }, title: 'Détruire', class: 'text-danger', data: { toggle: 'tooltip' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Ajouter du nouveau matériel', new_hardware_path %>
