<p>
  <strong>Nom :</strong>
  <%= @hardware.name %> (<%= @hardware.hardware_type_string %>)
</p>

<p>
  <%= @hardware.state_string %>
</p>

<p>
  <strong>Commentaire :</strong>
  <%= @hardware.comment %>
</p>

<%= render "shared/show_owners_list", item: @hardware %>

<% if @hardware.bag %>
  <h3>Dans le sac <%= link_to @hardware.bag.name, @hardware.bag %></h3>
  <% if @hardware.bag.owners.any? %>
    <%= render "shared/show_owners_list", item: @hardware.bag %>
  <% end %>
<% end %>

<%= link_to 'Edit', edit_hardware_path(@hardware) %> |
<%= link_to 'Back', hardwares_path %>
