<% provide(:title, "Información sobre " + @hardware.name) %>

<p>
  <strong>Nombre:</strong>
  <%= @hardware.name %> (<%= @hardware.hardware_type_string %>)
</p>

<p>
  <%= @hardware.state_string %>
</p>

<p>
  <strong>Comentario:</strong>
  <%= @hardware.comment %>
</p>

<%= render "shared/show_owners_list", item: @hardware %>

<% if @hardware.bag %>
  <h3>En la bolsa <%= link_to @hardware.bag.name, @hardware.bag %></h3>
  <% if @hardware.bag.owners.any? %>
    <%= render "shared/show_owners_list", item: @hardware.bag %>
  <% end %>
<% end %>

<%= link_to 'Editar', edit_hardware_path(@hardware) %> |
<%= link_to 'Volver', hardwares_path %>
