<p id="notice"><%= notice %></p>

<p>
  <strong>Nom :</strong>
  <%= @hardware.name %> (<%= @hardware.hardware_type_string %>)
</p>

<p>
  <%= @hardware.state_string %>
</p>

<p>
  <strong>Commentaire :</strong>
  <%= @hardware.comment %>
</p>

<p>
  <strong>Chez :</strong>
  <% owners = [] %>
  <% @hardware.hardware_owners.each do |owner| %>
    <% owners << "#{owner.user.name} (du #{l(owner.start)} au #{l(owner.end)})" %>
  <% end %>
  <%= owners.join(", ") %>
</p>

<%= link_to 'Edit', edit_hardware_path(@hardware) %> |
<%= link_to 'Back', hardwares_path %>
