<!DOCTYPE html>
<html>
<head>
  <title><%= page_title(yield(:title)) %></title>
  <%# Webpacker %>
  <%# Followed this to get rid of sprockets: https://medium.com/@coorasse/goodbye-sprockets-welcome-webpacker-3-0-ff877fb8fa79 %>
  <%= stylesheet_pack_tag 'stylesheets', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render 'layouts/navigation' %>

  <%= render 'layouts/flash' %>

  <%= yield %>

  <%= render 'layouts/footer' %>
</body>
</html>
